<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="پیتزا هات اکباتان" value="http://www.zoodfood.com/RestaurantMenu.aspx?id=304#Menu"/>
    <add key="پرپروک سعادت‌آباد" value="http://www.zoodfood.com/restaurantmenu.aspx?id=72"/>
  </appSettings>
</configuration>